/* div{
    background-color: #cdcdcd;
}

h1{
    color: red;
    background-color: #121212;
} */

#main-heading{
    background-color: #454545;
}

.paragraph{
    color: #sdsdsd;
}

.main-content{
    background-color: #dfdfdf;
}