@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;

}

a{
    color: #3c3c3c;
    text-decoration: none;
}

ul{
    list-style: none;
    text-align: center;
    /* border: 2px solid green; */
    background-color: lightgray;
    margin-left: 0px;
    
}

li{
    /* border: 2px solid palevioletred; */
    text-transform: uppercase;
    /* border-bottom: 1px solid black; */
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 3px;
    margin: 10px;
}

section{
    margin-top: 50px;
}

section>h2{
    border-bottom: 2px solid #3c3c3c;
}

.container{
    width: 1000px;
    margin: 0px auto;
}