/* link, visited, hover, active */



a:link{
    color: orange;
}


a:visited{
    color: darkcyan;
}

a:hover{
    color: red;
}

a:active{
    color: black;
}

p:hover{
    color: red;
    font-size: 32px;
    text-align: right;
}