/* !important > inline style attribure > id selector > class selector > element selector */


body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: green !important;
}

.heading{
    color: red;
}

.h1head{
    color: blue;
}

h1.heading{
    color: darkturquoise;
}

#h1id{
    color: brown;
}