.green{
    color: green;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.bold{
    font-weight: bold;
}

.bg-gray{
    background-color: gray;
}

.bg-black{
    background-color: #090909;
}

.bg-white{
    background-color: #adadad;
}